
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <div id="studentStrengthCount"></div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        var studentdata;
        var studentchart;
        // Load the Visualization API and the piechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawStudentAttendenceChart);

            // Callback that creates and populates a data table,
            // instantiates the pie chart, passes in the data and
            // draws it.


      
    });

    function drawStudentAttendenceChart() {
        
        // Create our data table.
        studentdata = new google.visualization.DataTable();
        studentdata.addColumn('string', 'AttendenceType');
        studentdata.addColumn('number', 'Count');

        $.get("/DashBoardMaster/StudentAttendeceReport", function (response) {
            for (var i = 0; i < response.length; i++) {
                
                studentdata.addRow([response[i].name, response[i].y]);
            }
            var options = {
                'title': 'Student Strength',
                colors: ['#1b9e77', '#d95f02']
            };

            // Instantiate and draw our chart, passing in some options.
            studentchart = new google.visualization.ColumnChart(document.getElementById("studentStrengthCount"));
            google.visualization.events.addListener(studentchart, 'select', selectHandler);
            studentchart.draw(studentdata, options);
        });

    }
   
</script>