<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <nobr>
                    <nowrap>
                        <div class="pos" id="_192:104" style="top:104;left:192">
                            <span id="_19.4" style="font-weight:bold; font-family:Arial; font-size:19.4px; color:#101010">
                                PRIVATE SCHOOL TEACHER APPOINTMENT LETTER
                            </span>
                        </div>
                        <div class="pos" id="_100:194" style="top:194;left:100">
                            <span id="_15.0" style=" font-family:Times New Roman; font-size:15.0px; color:#595959">
                                [DATE]
                            </span>
                        </div>
                        <div class="pos" id="_100:232" style="top:232;left:100">
                            <span id="_13.7" style=" font-family:Times New Roman; font-size:13.7px; color:#595959">
                                Dear [RECIPIENT NAME],
                            </span>
                        </div>
                        <div class="pos" id="_100:270" style="top:270;left:100">
                            <span id="_14.4" style=" font-family:Times New Roman; font-size:14.4px; color:#595959">
                                We are pleased to appoint you as the new [POSITION] at our school, [SCHOOL NAME]. Your official start
                            </span>
                        </div>
                        <div class="pos" id="_100:289" style="top:289;left:100">
                            <span id="_13.6" style=" font-family:Times New Roman; font-size:13.6px; color:#595959">
                                date is [START DATE].
                            </span>
                        </div>
                        <div class="pos" id="_100:326" style="top:326;left:100">
                            <span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#595959">
                                We have outlined the terms and conditions of your employment in the documents attached. It is advisable
                            </span>
                        </div>
                        <div class="pos" id="_100:345" style="top:345;left:100">
                            <span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#595959">
                                to go through the terms & conditions diligently. If you wish to discuss any of the points, then please feel
                            </span>
                        </div>
                        <div class="pos" id="_100:364" style="top:364;left:100">
                            <span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#595959">
                                free to reach out to us. We will be happy to address them.
                            </span>
                        </div>
                        <div class="pos" id="_100:402" style="top:402;left:100">
                            <span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#595959">
                                Should you find the proposed terms and conditions agreeable, and you are therefore willing to accept the
                            </span>
                        </div>
                        <div class="pos" id="_100:420" style="top:420;left:100">
                            <span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#595959">
                                appointment, please sign and return a copy of the agreement along with advised documents to us latest
                            </span>
                        </div>
                        <div class="pos" id="_100:439" style="top:439;left:100">
                            <span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#595959">
                                by [DATE 1]. In case you fail to submit the necessary documents by the last date advised, the letter of
                            </span>
                        </div>
                        <div class="pos" id="_100:458" style="top:458;left:100">
                            <span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#595959">
                                appointment will be withdrawn automatically.
                            </span>
                        </div>
                        <div class="pos" id="_100:495" style="top:495;left:100">
                            <span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#595959">
                                We all are excited to have you on board!
                            </span>
                        </div>
                        <div class="pos" id="_100:533" style="top:533;left:100">
                            <span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#595959">
                                Regards,
                            </span>
                        </div>
                        <div class="pos" id="_100:571" style="top:571;left:100">
                            <span id="_13.4" style=" font-family:Times New Roman; font-size:13.4px; color:#595959">
                                [YOUR SIGNATURE]
                            </span>
                        </div>
                        <div class="pos" id="_100:625" style="top:625;left:100">
                            <span id="_13.4" style=" font-family:Times New Roman; font-size:13.4px; color:#595959">
                                [YOUR NAME]
                            </span>
                        </div>
                        <div class="pos" id="_570:1016" style="top:1016;left:570">
                            <span id="_14.9" style=" font-family:Arial; font-size:14.9px; color:#253138">
                                Copyright 
                            </span>
                        </div>
                    </nowrap>
                </nobr>
            </div>
        </div>
    </div>
</section>
