

<section class="content-header">
    <h1>
        Student Attendence
        <small>Create Student Attendence</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>


<section class="content">
    <div class="row">

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Create Student Attendence</h3>

                </div>
                <!-- /.box-header -->
                <!-- form start -->

                <div class="box-body">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Course/Class</label>
                            <select id="CourseId" class="form-control" asp-items="@(new SelectList(ViewBag.CourseList ,"Id","Name"))" onchange="GetBatchList()">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Batch/Section</label>
                            <select id="BatchId" class="form-control" onchange="CheckAttendenceType()">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Attendence Date</label>
                            <input type="date" id="attendenceDate" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3" style="display:none" id="divPeriod">
                        <div class="form-group">
                            <label>Select Period</label>
                            <select id="period" class="form-control" onchange="HideStudentDiv()">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <button class="btn btn-primary pull-right" onclick="CreateAttendence()">Show Attendance Register</button>
                        </div>
                        <div class="col-md-4">
                            <button type="reset" class="btn btn-danger pull-left">Cancel</button>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div id="AttendenceDiv"></div>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">


                </div>

            </div>
        </div>
        @await Html.PartialAsync("~/Views/Shared/_CommanModalPartial.cshtml")

    </div>
</section>

<script type="text/javascript">
    function GetBatchList() {

        $('#BatchId').empty();
        var courseId = $("#CourseId option:selected").val();
        $.get("/StudentMaster/GetBatchList", { courseId: courseId }, function (responseData) {
            $('#BatchId').append($('<option></option>').text("Select").attr('value', 0));
            $.each(responseData, function (index, value) {
                $('#BatchId').append($('<option></option>').text(value.batchName).attr('value', value.id));
            });
        });
    }
    function CheckAttendenceType() {
        $('#period').empty();
        var courseId = $("#CourseId option:selected").val();
        var batchId = $("#BatchId option:selected").val();

        var responseCount =
            $.get("/Attendence/chekAttendenceDependOnPeriod", { courseId: courseId, batchId: batchId }, function (response) {
                debugger
                responseCount = response.length;
                $.each(response, function (index, value) {
                    debugger
                    $('#period').append($('<option></option>').text(value).attr('value', value));
                })
            }).done(function () {

                if (responseCount > 0) {
                    $("#divPeriod").removeAttr("style");
                }
                else {
                    $("#divPeriod").attr("style", "display:none");
                }
            });

    }

    function CreateAttendence() {
        var courseId = $("#CourseId option:selected").val();
        var batchId = $("#BatchId option:selected").val();
        var attendenceDate = $("#attendenceDate").val();
        var period = $("#period option:selected").val();
        $("#AttendenceDiv").html("");
        $.get("/Attendence/StudentAttendence", { courseId: courseId, batchId: batchId, attendenceDate: attendenceDate, period: period }, function (response) {
            $("#AttendenceDiv").html(response);
        })
    }

    function HideStudentDiv() {
        $("#AttendenceDiv").html("");
    }
</script>