<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 table100 ver5 m-b-110">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <img src="~/Images/ImstituteName.jpg" />
                        </div>
                        <div class="col-md-8">
                            <h4 style="text-align:center">DAV Public School</h4><br />
                            <h4 style="text-align:center">Address </h4><br />
                            <h4 style="text-align:center">GST IN Number</h4>
                        </div>
                  
                    </div>
                    <div class="col-md-12">

                    </div>
                    <table id="tblDataList" data-vertable="ver5" style="width:100%">
                        <thead>
                            <tr class="row100 head">
                                <th>S.No.</th>
                                <th>Particular</th>
                                <th>Amount</th>
                                <th>Payment For</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


