@{ Layout = null;}

@model SERP.Core.Entities.HomeAssignment.LessonTopicMapping

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<section class="content-header">
    <h1>
        Lesson Topic
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Lesson Topic</h3>
                    <div class="col-md-12">
                        <div class="col-md-10">
                        </div>
                    </div>

                </div>
                <form id="form" method="post" data-ajax="true" data-ajax-method="post"
                      asp-action="PostLessonTopic" asp-controller="LessonTopic" data-ajax-success="SuccessLessonTopic"
                      data-ajax-begin="CustomFormSubmitBegin" data-ajax-complete="CustomFormSubmitComplete" enctype="multipart/form-data">                    
                        <div class="box-body">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="classId">Select Course</label>
                                    <select class="form-control" onchange="GetSubjectDetails()" id="classId">
                                        <option value="0" selected>Please select Course</option>
                                        @foreach (var data in (List<SERP.Core.Entities.Entity.Core.Master.CourseMaster>)ViewBag.ClassList)
                                        {
                                            <option value="@data.Id">@data.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="SubjectId">Select Subject</label>
                                    <select for="SubjectId" id="SubjectId" onchange="GetLessonDetails()" class="form-control">
                                    </select>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="LessonName">Chapter/Lesson</label>
                                    <select for="LessonName" onchange="GetLessonTopicDetails()" class="form-control" id="ddlLesson" name="ddlLesson">
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="CreatedBy" />
                                    <input type="hidden" asp-for="CreatedDate" />
                                    <label asp-for="TopicName">Topic Name</label>
                                    <input asp-for="TopicName" class="form-control">
                                    <span asp-validation-for="TopicName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="TopicDescription">Description</label>
                                    <input asp-for="TopicDescription" class="form-control">
                                    <span asp-validation-for="TopicDescription" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="ExpectedClass">Class Expected</label>
                                    <input asp-for="ExpectedClass" type="number" class="form-control">
                                    <span asp-validation-for="ExpectedClass" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="button" onclick="AddTopicToLesson()" class="btn btn-primary pull-right" value="Add" />
                            </div>
                        </div>
                    
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="tblAddOptions">
                                <table class="table-responsive-md table-striped table-bordered dataTable no-footer">
                                    <thead>
                                        <tr>
                                            <th>
                                                Topic Name
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>Expected Class</th>
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblbodyTopic">
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>

                        <div class="col-md-6">
                            <div id="divMappedLesson"></div>
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer dvAddOptionBtn">
                        
                        <div class="col-md-8">
                            @Html.SERPButton("btn btn-primary pull-right btnSubmit", Model == null ? 0 : Model.Id)
                            <button class="buttonload" style="display:none">
                                <i class="fa fa-refresh fa-spin"></i>Loading
                            </button>
                        </div>
                                <div class="col-md-4">
                                    <button type="reset" class="btn btn-danger pull-left">Cancel</button>
                                </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<style>
    .input-validation-error {
        border-color: red;
    }
</style>

<script>

    function SuccessLessonTopic(response) {
        if (response == "Server error please contact admin team") {
            alertify.set('notifier', 'position', 'top-center');
            alertify.error(response);
        }
        else {
            alertify.set('notifier', 'position', 'top-center');
            alertify.success(response);
        }

        $("#form")[0].reset();//reset the form controll.
        $(".form-control").val('');//Clear the controll which is present inside the form.
        $("select").each(function () { this.selectedIndex = 0 });
        $("#tblbodyTopic").empty();
        $("#divMappedLesson").html('');

    }

    $(document).ready(function () {
        $('.tblAddOptions').hide();
        $('.dvAddOptionBtn').hide();
    });
    function AddTopicToLesson() {
        var isValid = true;
        var topicName = $("#TopicName").val();
        var description = $("#TopicDescription").val();
        var expectedClass = $("#ExpectedClass").val();
        if (topicName.length == 0 || topicName.length < 1) {
            $("#TopicName").addClass('input-validation-error');
            isValid = false;
        }
        if (description.length == 0 || description.length < 1) {
            $("#TopicDescription").addClass('input-validation-error');
            isValid = false;
        }
        if (isValid) {
                  
        var html = '<tr>';
     
        html += '<td><input type="hidden" name="topic" value=' + topicName + ' />' + topicName + '</td>';
            html += '<td><input type="hidden" name="description" value=' + description + ' />' + description + '</td>';
            html += '<td><input type="hidden" name="classExpected" value=' + expectedClass + ' />' + expectedClass + '</td>';
        html += '<td><a class="btn btn-outline-danger pull-right" onclick="rowDelete(this)" data-loading-text="<i class="fa fa - circle - o - notch fa - spin"  style="color:#DD4B39"></i> <i class="fa fa-trash" style="color:#DD4B39"></i></a></td>"';
        html += '</tr>';
            $("#tblbodyTopic").append(html);
            $('.tblAddOptions').show();
            $('.dvAddOptionBtn').show();
        }
    }

    function rowDelete(event) {
        var row = event.parentNode.parentNode;
        var table = row.parentNode;
        table.removeChild(row);
    }

    function GetLessonDetails() {
        var subjectId = $("#SubjectId").val();
        $("#ddlLesson").empty();
        $("#ddlLesson").append("<option value=''>Select</option>")
        var html = "";
        $.get("/LessonTopic/GetLessonDetail", { subjectid: subjectId }, function (data) {
            for (var i = 0; i < data.length; i++)
             {
                html += "<option value=" + data[i].id + ">" + data[i].lessonName + "</option>";
                $("#ddlLesson").append(html);
             }
        });
    }

    function GetSubjectDetails() {
        var courseId = $("#classId").val();
        $.get("/LessonMaster/GetSubjectList", { courseId: courseId }, function (responseData) {
            $("#SubjectId").empty();
            $("#SubjectId").append("<option value=''>Select Subject</option>")
            for (var i = 0; responseData.length; i++) {
                $("#SubjectId").append("<option value=" + responseData[i].id + ">" + responseData[i].subjectName + "</option>");
            }

        })
    }

    function GetLessonTopicDetails() {
        var lessonId = $("#ddlLesson").val();
        $.get("/LessonTopic/GetLessonTopics", { lessonId: lessonId }, function (data) {
            $("#divMappedLesson").html(data);
        })
    }

    function DeleteRecord(id) {
        alertify.confirm("Are you sure want to Inactivate this record ?", function () {
            $.get("/LessonTopic/DeleteLesson", { id: id }, function (data) {
                alertify.success(data);
            }).done(function () {
                GetLessonTopicDetails();
            })
        }, function () {
            alertify.error('There is some server Error please contact admin team .')
        });
    }

</script>

