@{
    ViewData["Title"] = "Index";
    Layout = null;

}

<section class="content-header">
    <h1>
        User Access Information
        <small>User Management user access information</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>


<section class="content">
    <div class="row">

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Assign Module and SubModule</h3>
                </div>
                <div class="overlay divHidding" id="divFormData">
                    <i class="fa fa-refresh fa-spin">

                    </i>
                </div>

                    <div class="box-body">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Employee">Select Employee</label>
                               <select class="form-control" id="ddlEmployee" onchange="GetEmployeeAccess()">
                                   <option value="">Select Employee</option>
                                   @foreach(var data in (IEnumerable<SERP.Core.Entities.Entity.Core.HRModule.EmployeeBasicInfoModel>)ViewBag.employees)
                                   {
                                       <option value="@data.Id">@data.Name (@data.EmpCode)</option>
                                   }
                               </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div id="employeeAccessData">

                            </div>
                        </div>
                        
                        
                    </div>

                    <div class="box-footer">
                    </div>
             
            </div>
        </div>

        @await Html.PartialAsync("~/Views/Shared/_CommanModalPartial.cshtml")

    </div>
</section>

<script>
    function GetEmployeeAccess() {
        $.get("/UserAccessRight/GetUserAccess", { employeeId: $("#ddlEmployee").val()}, function (responseData) {
            $("#employeeAccessData").html(responseData);
        })
    }
  
</script>

