
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
@model SERP.Core.Entities.Entity.Core.Master.InstituteMaster


<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<section class="content-header">
    <h1>
        Institute Master
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>


<section class="content">
    <div class="row">

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- /.box-header -->
                <!-- form start -->
                <form method="post" data-ajax="true" data-ajax-method="post"  enctype="multipart/form-data"
                      asp-action="Create" asp-controller="InstituteMaster" data-ajax-success="Success">
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="hidden" asp-for="Id"/>
                                    <label asp-for="Name">Institute Name</label>
                                    <input asp-for="Name" class="form-control">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Code">Institute Code</label>
                                    <input asp-for="Code" class="form-control">
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Address">Address</label>
                                    <input asp-for="Address" class="form-control">
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Email">Email</label>
                                    <input asp-for="Email" class="form-control">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Phone">Phone</label>
                                    <input asp-for="Phone" class="form-control">
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Mobile">Mobile</label>
                                    <input asp-for="Mobile" class="form-control">
                                    <span asp-validation-for="Mobile" class="text-danger"></span>
                                </div>
                            </div>
                     
                            
           
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Fax">Fax</label>
                                    <input asp-for="Fax" class="form-control">
                                    <span asp-validation-for="Fax" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="AdminContactPerson">Contact Person</label>
                                    <input asp-for="AdminContactPerson" class="form-control">
                                    <span asp-validation-for="AdminContactPerson" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                 
                                    <label asp-for="InstituteLogo">Institute Logo</label>
                                    <input asp-for="InstituteLogo" type="file" class="form-control">
                                    <span asp-validation-for="InstituteLogo" class="text-danger"></span>
                                </div>
                            </div>
                        
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Rythum">Rythum</label>
                                    <input asp-for="Rythum" class="form-control">
                                    <span asp-validation-for="Rythum" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">

                            @if (Model != null)
                            {
                                <input type="hidden" asp-for="InstituteLogo" />
                                <input type="hidden" asp-for="CreatedDate" />
                                <input type="hidden" asp-for="CreatedBy" />
                                <img src="@Model.InstituteLogo" style="width:100px;height:100px;" />
                            }

                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


