@model SERP.Core.Entities.OnlineTest.TestMaster

<section class="content-header">
    @if (!string.IsNullOrEmpty(Model.TestName))
    {
        <h1>
            Exam Rule And Regulation
        </h1>

    }
    else
    {
        <h1>
            Test has been Expired.
        </h1>
    }

</section>

@if (!string.IsNullOrEmpty(Model.TestName))
{
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">@Model.TestName</h3>
                    </div>
                    <div class="box-body">
                        <h5>@Html.Raw(Model.Regulation)</h5>
                    </div>
                    <div class="box-footer">
                        <a data-ajax="true" data-ajax-mode="replace"
                           asp-action="TestQuestions" asp-controller="StudentOnlineTest" asp-route-testId="@Model.Id"
                           data-ajax-update="#divSERP"
                           data-ajax-begin="AjaxOnBegin" data-ajax-complete="AjaxComplete"
                           class="btn btn-primary pull-right">
                            Start Test
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                       
                    </div>
                    <div class="box-body">
                        <h5>The Test has been Expired.</h5>
                    </div>
                    

                </div>
            </div>
        </div>
    </section>
}


