@{
    ViewData["Title"] = "Home Page";
}

<h1> Index Page</h1>

<ul class="kt-sticky-toolbar" style="margin-top: 30px;">
    <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--success" id="kt_demo_panel_toggle" data-toggle="kt-tooltip" title="Home" data-placement="right">
        <a href="#" class=""><i class="flaticon-home"></i></a>
    </li>
    <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--brand" data-toggle="kt-tooltip" title="List" data-placement="left">
        <a href="builder.html"><i class="flaticon-squares-2 "></i></a>
    </li>
    <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--warning" data-toggle="kt-tooltip" title="Cancel" data-placement="left">
        <a href="https://keenthemes.com/metronic/?page=docs" target="_blank"><i class="flaticon2-cancel"></i></a>
    </li>

    <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--danger" data-toggle="kt-tooltip" title="Save" data-placement="left">
        <a href="#" data-toggle="modal" data-target="#kt_chat_modal"><i class="la la-floppy-o"></i></a>
    </li>
</ul>
