@{
    ViewData["Title"] = "Index";
    Layout = null;

}
@model SERP.Core.Entities.Entity.Core.Master.ReligionMaster

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<section class="content-header">
    <h1>
        Religion Master
        <small>Create Religion Detail</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>


<section class="content">
    <div class="row">

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Create Religion Master Master</h3>
                    <a class="btn btn-primary pull-right" onclick="GetRecordList()">
                        <i class="fa fa-list-ul"></i>
                        List
                    </a>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form method="post" data-ajax="true" data-ajax-method="post"
                      asp-action="Create" asp-controller="Religion" data-ajax-success="Success">
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input asp-for="Id" type="hidden" />
                                <input asp-for="CreatedBy" type="hidden" />
                                <input asp-for="CreatedDate" type="hidden" />
                                <label asp-for="Name">Religion Name</label>
                                <input asp-for="Name" class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                      
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Description">Description</label>
                                <input asp-for="Description" class="form-control">
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="modalCustom fade" id="divModalPop" role="dialog">
            <div class="modalCustom-dialog lg">
                <!-- Modal content-->
                <div class="modalCustom-content">
                    <div class="modalCustom-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="text-align:center">Select Religion List</h4>
                    </div><!--modal-header end-->

                    <div class="modalCustom-body">
                        <fieldset class="fieldset marB0">
                            <div class="table-outer" style="min-height: 250px;" id="divPartialData">

                            </div>
                        </fieldset>
                    </div><!--modal-body end-->
                </div>
                <!--modal-content end-->
            </div><!--modal-dialog end-->
        </div>

    </div>
</section>

<script>

    function GetRecordList() {
        $.get("/Religion/GetReligionMaster", function (response) {
            $("#divPartialData").html(response);
            $("#divModalPop").modal('show');

            setTimeout(function () {
                $("#tblDataList").DataTable({
                    fixedHeader: true,
                    select: true,
                     responsive:true
                });
            }, 300)
        })
    }
</script>

