@model IEnumerable<SERP.Core.Entities.Entity.Core.Master.ReligionMaster>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <table id="tblDataList" class="table-responsive-md table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>
                                    Action
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var data in Model)
                            {
                                <tr>
                                    <td>
                                        @data.Name
                                    </td>
                                    <td>
                                        @data.Description
                                    </td>
                                    
                                    <td>
                                        <a class="btn btn-primary pull-right" onclick="UpdateRecord(@data.Id)">
                                            <i class="fa fa-edit"></i>
                                            Edit
                                        </a>
                                        <a class="btn btn-danger pull-right" onclick="DeleteRecord(@data.Id)">
                                            <i class="fa fa-trash"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function DeleteRecord(id) {
        alertify.confirm("Are you sure want to delete the record ?", function () {
            $.get("/Religion/DeleteReligion", { id: id }, function (response) {
                alertify.alert("Record deleted successfully");
            }).done(function () {
                $.get("/Religion/GetReligionMaster", function (response) {
                    $("#divPartialData").html(response);
                }).done(function () {
                    $("#tblDataList").DataTable({
                        fixedHeader: true,
                        select: true,
                        responsive: true
                    });
                });
            });
        }, function () {
            alertify.warning("you cancel the delete.");
        });
    }

    function UpdateRecord(id) {
        $.get("/Religion/CreateReligion", { id: id }, function (response) {
            $("#divSERP").html(response);
            $("#divModalPop").modal('hide');

            $('.modal-backdrop').remove();
        });
    }
</script>