@model SERP.Core.Entities.Entity.Core.Transaction.StudentPromote
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<section class="content-header">
    <h1>
        Student Promote
    </h1>
  
</section>


<section class="content">
    <div class="row">

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Create Student Promote</h3>

                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form id="form" method="post" data-ajax="true" data-ajax-method="post"
                      asp-action="CreateStudent" asp-controller="StudentMaster" data-ajax-success="Success" enctype="multipart/form-data">
                    <div class="box-body">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="CreatedBy" />
                                <input type="hidden" asp-for="CreatedDate" />
                                <label asp-for="CourseId">From Course/Class</label>
                                <select asp-for="CourseId" id="FromCourse" class="form-control" asp-items="@(new SelectList(ViewBag.CourseList ,"Id","Name"))" onchange="GetBatchList()">
                                    <option value="">Select</option>
                                </select>
                                <span asp-validation-for="CourseId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="BatchId">From Batch/Section</label>
                                <select asp-for="BatchId" id="FromBatch" class="form-control">
                                    <option value="">Select</option>
                                </select>
                                <span asp-validation-for="BatchId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="button" onclick="GetStudentDetails()" class="btn btn-primary pull-left TopMar22">Get Student List</button>
                        </div>
                    </div>
                    <div class="box-body dvPromoteSection hide">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="CourseId">To Course/Class</label>
                                <select asp-for="CourseId" id="ToCourse" class="form-control" asp-items="@(new SelectList(ViewBag.CourseList ,"Id","Name"))" onchange="GetToBatchList()">
                                    <option value="">Select</option>
                                </select>
                                <span asp-validation-for="CourseId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="BatchId">To Batch/Section</label>
                                <select asp-for="BatchId" id="ToBatch" class="form-control">
                                    <option value="">Select</option>
                                </select>
                                <span asp-validation-for="BatchId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        </div>
                        <div class="box-body" id="dvEmptyText"></div>
                        <div class="box-body hide dvPromoteSection">

                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                Select
                                            </th>
                                            <th>
                                                Student Name
                                            </th>
                                            <th>
                                                Role No
                                            </th>
                                            <th>
                                                Registration Number
                                            </th>
                                            <th>
                                                Phone No
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblStudentPartial" class="table-row-text-light">
                                    </tbody>
                                </table>
                            </div>

                            <div class="box-footer">
                                <button type="button" class="btn btn-primary pull-right" onclick="PromoteStudent(this)">Promote Student</button>
                            </div>
                        </div>
</form>
            </div>
        </div>

    </div>
</section>

<script type="text/javascript">
    function GetBatchList() {
        $('#FromBatch').html('<option value="">Select</option>');
        var courseId = $("#FromCourse option:selected").val();
        if (courseId != 'Select' && courseId != '' && courseId != null) {
            $.get("/StudentMaster/GetBatchList", { courseId: courseId }, function (responseData) {
                $.each(responseData, function (index, value) {
                    $('#FromBatch').append($('<option></option>').text(value.batchName).attr('value', value.id));
                });
            });
        }
    }

    function GetToBatchList() {
        var courseId = $("#ToCourse option:selected").val();
        $.get("/StudentMaster/GetBatchList", { courseId: courseId }, function (responseData) {
            $.each(responseData, function (index, value) {
                $('#ToBatch').append($('<option></option>').text(value.batchName).attr('value', value.id));
            });
        });
    }

    function GetStudentDetails() {
        var courseId = $("#FromCourse option:selected").val();
        var batchId = $("#FromBatch option:selected").val();

        if (courseId != '' && batchId != '') {
            $("#tblStudentPartial").empty();
            $("#FromCourse").attr("style", "border-color:");
            $("#FromBatch").attr("style", "border-color:")
            $.get("/StudentPromote/GetStudentList", { courseId: courseId, batchId: batchId }, function (responseData) {
                
                $.each(responseData, function (index, value) {
                    var markup = '<tr>';
                    markup += '<td><input type="checkbox" class="custom-control-input" name="ids" checked value=' + value.studentId + '></td>';
                    markup += '<td>' + value.studentName + '</td>';
                    markup += '<td>' + value.rollCode + '</td>';
                    markup += '<td>' + value.registration + '</td>';
                    markup += '<td>' + value.phone + '</td>';
                    $("#tblStudentPartial").append(markup);
                });
                $('#dvEmptyText').html('');
                if (responseData.length > 0) {
                    $('.dvPromoteSection').removeClass('hide');
                }
                else {
                    $('.dvPromoteSection').addClass('hide');
                    $('#dvEmptyText').append('No Record Found');
                }
            })
        }
        else {
            if (courseId == '') {
                $("#FromCourse").attr("style", "border-color:red");
            }
            if (batchId == '') {
                $("#FromBatch").attr("style", "border-color:red")
            }
        }
    }
    function PromoteStudent() {
        var courseId = $("#FromCourse option:selected").val();
        var batchId = $("#FromBatch option:selected").val();
        var toBatchId = $("#ToBatch option:selected").val();
        var toCourse = $("#ToCourse option:selected").val();

        $("#FromCourse").removeAttr("style");
        $("#FromBatch").removeAttr("style")

        if (toCourse == '') {
            $("#ToCourse").attr("style", "border-color:red");
            return false;
        }
        if (toBatchId == '') {
            $("#ToCourse").removeAttr("style")
            $("#ToBatch").attr("style", "border-color:red");
            return false;
        }

        var studentids = $('input[name=ids]').map(function () {
            return this.value;
        }).get();

        $.post("/StudentPromote/PostStudentPromote", {
            studentIds: studentids, courseId: toCourse, batchId: toBatchId,
            prevBatchId: batchId, prevCourseId: courseId
        }, function (responseData) {
            alertify.success(responseData)
        })
    }
</script>