@using Microsoft.AspNetCore.Http
@using SERP.UI.Extension;
@inject IHttpContextAccessor HttpContextAccessor
@{
    var studentDetail = HttpContextAccessor.HttpContext.Session.GetObject<SERP.Core.Model.UserManagement.StudentAccountModel>("StudentInfo");

}

<style>
    * {
        box-sizing: border-box;
    }

    body {
        font: 16px Arial;
    }

    /*the container must be positioned relative:*/
    .autocomplete {
        position: relative;
        display: inline-block;
    }

    input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
    }

        input[type=text] {
            background-color: #f1f1f1;
            width: 100%;
        }

        input[type=submit] {
            background-color: DodgerBlue;
            color: #fff;
            cursor: pointer;
        }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            /*when hovering an item:*/
            .autocomplete-items div:hover {
                background-color: #e9e9e9;
            }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>
<header class="main-header">
    <!-- Logo -->
    <a asp-action="Index" asp-controller="Home" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>S</b>ERP</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>@HttpContextAccessor.HttpContext.Session.GetString("InstituteName")</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <!-- Menu toggle button -->
                    <a onclick="AdvanceSearch()" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
                <!-- /.messages-menu -->
                <!-- Notifications Menu -->
                <li class="dropdown notifications-menu">
                    <!-- Menu toggle button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">10</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 10 notifications</li>
                        <li>
                            <!-- Inner Menu: contains the notifications -->
                            <ul class="menu">
                                <li>
                                    <!-- start notification -->
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                    </a>
                                </li>
                                <!-- end notification -->
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>
                <!-- Tasks Menu -->
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        @if (string.IsNullOrEmpty(studentDetail.ImagePath))
                        {
                            <img src="~/Images/UserLogo.jpg"  style="width:25px;height:25px" class="img-circle" alt="User Image">
                        }
                        else
                        {
                            <img src="@studentDetail.ImagePath" style="width:25px;height:25px" class="img-circle" alt="User Image">
                        }
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">@HttpContextAccessor.HttpContext.Session.GetString("userName")</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            @if (string.IsNullOrEmpty(studentDetail.ImagePath))
                            {
                                <img src="~/Images/UserLogo.jpg" class="img-circle" alt="User Image">
                            }
                            else
                            {
                                <img src="@studentDetail.ImagePath" class="img-circle" alt="User Image">
                            }

                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-primary btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a asp-action="Login" asp-controller="Authenticate" class="btn btn-danger btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="modal fade" id="ModalAdvanceSearch" role="dialog" style="overflow:auto">
    <div class="modal-dialog modal-dialog-centered  modal-lg" style="width:90%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <a>Advance Search</a>
                </h4>
            </div><!--modal-header end-->

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Student Search
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <div class="autocomplete" style="width:300px;">
                                                <input type="text" id="txtStudentName" placeholder="Enter Student Name" class="form-control" />
                                            </div>

                                        </div>
                                        <div class="col-md-12" style="padding-top:10px;">
                                            <button class="btn btn-success pull-right">
                                                <i class="fa fa-search"> &nbsp;&nbsp;Search </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Employee Search
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <input type="text" id="txtEmployee" placeholder="Enter Employee Name" class="form-control" />
                                        </div>
                                        <div class="col-md-12" style="padding-top:10px;">
                                            <button class="btn btn-success pull-right">
                                                <i class="fa fa-search"> &nbsp;&nbsp;Search </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Book Search
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Enter Book Name" id="txtBook" class="form-control" />
                                        </div>
                                        <div class="col-md-12" style="padding-top:10px;">
                                            <button class="btn btn-success pull-right" onclick="fn_bookSearch()">
                                                <i class="fa fa-search"> &nbsp;&nbsp;Search </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Fee Detail
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Enter Student Name" class="form-control" />
                                        </div>
                                        <div class="col-md-12" style="padding-top:10px;">
                                            <button class="btn btn-success pull-right">
                                                <i class="fa fa-search"> &nbsp;&nbsp;Search </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <fieldset class="fieldset marB0">
                            <div class="table-outer" style="min-height: 250px;overflow:auto;" id="divAdvanceSearch">


                            </div>
                        </fieldset>
                    </div>
                </div>

            </div><!--modal-body end-->
        </div>
        <!--modal-content end-->
    </div><!--modal-dialog end-->
</div>
<script src="~/Custom/AutoComplete.js"></script>
<script>
    $(document).ready(function () {
        var studentList = [];
        var employeeList = [];
        var bookList = [];


        $.get("/AdvanceSearch/GetStudent", function (data) {
            studentList = data;
        }).done(function () {
            autocomplete(document.getElementById("txtStudentName"), studentList);
        });

        $.get("/AdvanceSearch/GetEmployeeDetails", function (data) {
            employeeList = data;
        }).done(function () {
            autocomplete(document.getElementById("txtEmployee"), employeeList);
        });

        $.get("/AdvanceSearch/GetBookDetails", function (data) {
            bookList = data;
        }).done(function () {
            autocomplete(document.getElementById("txtBook"), bookList);
        });

    })
    function fn_bookSearch() {
        var bookName = $("#txtBook").val();
        if (bookName.length == 0) {
            $("#txtBook").addClass('input-validation-error');
        }
        else {
            $("#txtBook").removeClass('input-validation-error');
        }
    }
</script>
