@{
    Layout = null;
}

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Images/UserLogo.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>SERP Admin</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-gears"></i> <span>Setting</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a data-ajax="true" data-ajax-mode="replace"
                           asp-action="Index" asp-controller="InstituteMaster"
                           data-ajax-update="#divSERP" data-ajax-loading="#loading"
                           class="nav-link">
                        <i class="fa fa-university"></i>
                        <span>
                            Institute Detail
                        </span>
                        </a>
                    </li>
                    <li><a data-ajax="true" data-ajax-mode="replace"
                           asp-action="Index" asp-controller="AcademicMaster"
                           data-ajax-update="#divSERP" data-ajax-loading="#loading">
                        <i class="fa fa-bank"></i>
                        <span>Academic Detail</span>
                        </a>
                    </li>
                    <li><a href="#">Student Import</a></li>
                    <li><a href="#">Employee Import</a></li>
                    <li><a href="#">Applicant List</a></li>
                    <li><a href="#">Employee Application</a></li>
                    <li><a href="#">Cast & Religion</a></li>
                </ul>
            </li>
        </ul>

        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Academic Detail</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Course</a></li>
                    <li><a href="#">Batch</a></li>
                    <li><a href="#">Class Teacher Allocation</a></li>
                </ul>
            </li>
        </ul>

        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Subject</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Subjects</a></li>
                    <li><a href="#">Assign Subjects</a></li>
                    <li><a href="#">Subject Allocation</a></li>
                    <li><a href="#">Elective Subject</a></li>
                    <li><a href="#">Subjec Allocation Import</a></li>
                </ul>
            </li>
        </ul>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Student</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Student Admission</a></li>
                    <li><a href="#">Attendence</a></li>
                    <li><a href="#">Guardian List</a></li>
                    <li><a href="#">Student Gate Pass</a></li>
                    <li><a href="#">Student ID Card</a></li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>