@model SERP.Core.Model.TransactionViewModel.TimeSheetVm

<style>
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12" id="myCanvas">
                    <h3 style="text-align:center">
                        Time Table for Class : @Model.TimeTableModels.First().PeriodModels.First().CourseName -  @Model.TimeTableModels.First().PeriodModels.First().BatchName
                    </h3>

                    <table id="tblDataList" class="table table-hover table-striped table-info" style="width:100%;" border="1">
                        <thead>
                            <tr>
                                <th>Days</th>
                                @foreach (var period in Model.TimeTableModels)
                                {
                                    foreach (var prd in period.PeriodModels)
                                    {
                                        <th>
                                            @{
                                                var fromTime = string.Format("{0:00}:{1:00}", prd.FromTime.Hours, prd.FromTime.Minutes);
                                                var toTIme = string.Format("{0:00}:{1:00}", prd.ToTime.Hours, prd.ToTime.Minutes);
                                            }
                                            @fromTime - @toTIme
                                        </th>
                                    }
                                    break;
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int k = 0;
                                foreach (var days in Model.TimeTableModels)
                                {
                                    <tr>
                                        <td>
                                            <input type="hidden" asp-for="TimeTableModels[k].DayName" />
                                            @days.DayName
                                        </td>
                                        @foreach (var period in Model.TimeTableModels.Where(x => x.DayName == days.DayName))
                                        {
                                            int i = 0;
                                            var totalDyas = Model.TimeTableModels.Count();
                                            @foreach (var prd in period.PeriodModels)
                                            {
                                                <td>
                                                    <strong>
                                                        @prd.SubjectName
                                                    </strong>
                                                    <br />
                                                </td>
                                                i++;
                                            }

                                        }
                                    </tr>
                                    k++;
                                }
                            }
                        </tbody>

                    </table>
                </div>
                <div class="col-md-12">
                    <input type="button" onclick="PrintAll()" class="btn btn-success pull-right" value="Print" />
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/jszip.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
<script>
    function AssignChildEmployee(k, i, event) {

        var totalCount = $("#totalDays").val();
        for (var j = k + 1; j < totalCount; j++) {
            var employeeId = "TimeTableModels_" + j + "__PeriodModels_" + i + "__EmployeeId"
            $("#" + employeeId).val(event.value);
        }
    }

    function AssignChildSubject(k, i, event) {
        var totalCount = $("#totalDays").val();
        for (var j = k + 1; j < totalCount; j++) {
            var subjectId = "TimeTableModels_" + j + "__PeriodModels_" + i + "__SubjectId"
            $("#" + subjectId).val(event.value);
        }
    }
    function AssignChildFromTime(k, i, event) {
        var totalCount = $("#totalDays").val();
        for (var j = k + 1; j < totalCount; j++) {
            var fromTime = "TimeTableModels_" + j + "__PeriodModels_" + i + "__FromTime"
            $("#" + fromTime).val(event.value);
        }
    }
    function AssignChildToTime(k, i, event) {
        var totalCount = $("#totalDays").val();
        for (var j = k + 1; j < totalCount; j++) {

            var toTime = "TimeTableModels_" + j + "__PeriodModels_" + i + "__ToTime"
            $("#" + toTime).val(event.value);
        }
    }

    function PrintAll() {
        kendo.drawing
            .drawDOM("#myCanvas",
                {
                    paperSize: "A4",
                    margin: { top: "1cm", bottom: "1cm" },
                    scale: 0.8,
                    height: 500,
                    landscape: true
                })
            .then(function (group) {
                kendo.drawing.pdf.saveAs(group, "Class Time Table")
            });
    }
</script>

