@model SERP.Core.Entities.TimeTable.TimeTableMaster
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>


<section class="content-header">
    <h1>
        Time Table
    </h1>
    <ol class="breadcrumb">
        <em>*Required Fields</em>
    </ol>
</section>


<section class="content">
    <div class="row">

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Class Time Table Details</h3>

                </div>
                <div class="box-body">
                    <form id="form" method="get" data-ajax="true" data-ajax-method="post"
                          asp-action="CreateTimeTable" asp-controller="TimeTable" data-ajax-success="TimeTableInfo">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="CourseId">Course Name</label>
                                <select asp-for="CourseId" class="form-control" asp-items="@(new SelectList(ViewBag.CourseList ,"Id","Name"))" onchange="GetBatchList()">
                                    <option value="">Select</option>
                                </select>
                                <span asp-validation-for="CourseId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="BatchId">Batch Name</label>
                                <select asp-for="BatchId" class="form-control" onchange="GetTimeTableDetail()">
                                    <option value="">Select</option>
                                </select>
                                <span asp-validation-for="BatchId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="SubjectId">Subject</label>
                                <select asp-for="SubjectId" class="form-control">
                                    <option value="">SubjectId</option>
                                </select>
                                <span asp-validation-for="SubjectId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="EmployeeId">Employee</label>
                                <select asp-for="EmployeeId" class="form-control" asp-items="@(new SelectList(ViewBag.EmployeeList ,"Id","Name"))">
                                    <option value="">Select</option>
                                </select>
                                <span asp-validation-for="EmployeeId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Select Days</label>
                                <select class="selectpicker" multiple data-live-search="true" asp-for="Days">
                                    @for (int i = 0; i < 7; i++)
                                    {
                                        <option value="@i">@(((DayOfWeek)i).ToString())</option>
                                    }
                                </select>
                                <span asp-validation-for="Days" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="FromTime">From Time</label>
                                <input asp-for="FromTime" class="form-control" />
                                <span asp-validation-for="FromTime" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="ToTime">To Time</label>
                                <input asp-for="ToTime" class="form-control" />
                                <span asp-validation-for="ToTime" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="IsClassTeacher">Is Class Teacher</label>
                                <select asp-for="IsClassTeacher" class="form-control">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                                <span asp-validation-for="IsClassTeacher" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right">Create Time Table</button>
                        </div>
                    </form>
                    <div class="col-md-12" id="divTimeTable">

                    </div>
                </div>
                <div class="box-footer">

                </div>

            </div>
        </div>
    </div>
</section>



<script type="text/javascript">

    $(document).ready(function () {
        $('#Days').selectpicker();
    });

    function TimeTableInfo(response) {
        alertify.success("Time Table Created successfully.")
        GetTimeTableDetail();
    }

    function GetBatchList() {

        var courseId = $("#CourseId").val();
        $('#BatchId').empty();
        $("#BatchId").append('<option value="0">Select</option>');
        $.get("/StudentMaster/GetBatchList", { courseId: courseId }, function (responseData) {
            $.each(responseData, function (index, value) {
                $('#BatchId').append($('<option value=' + value.id + '>' + value.batchName + '</option>'));
            });
        }).done(function () {
        });
        GetSubjectList();
    }

    function GetSubjectList() {

        var courseId = $("#CourseId").val();
        $("#SubjectId").empty()
        $("#SubjectId").append('<option value="0">Select</option>');
        $.get("/CommanDataForJson/SubjectJson", { courseId: courseId }, function (responseData) {
            for (var i = 0; i < responseData.length; i++) {
                var html = '<option value=' + responseData[i].id + '>' + responseData[i].subjectName + '</option>'
                $("#SubjectId").append(html);
            }
        })
    }

    function GetTimeTableDetail() {
        var courseId = $("#CourseId").val();
        var batchId = $('#BatchId').val();
        $.get("/TimeTable/GetTimeTableDetails", { courseId: courseId, batchId: batchId }, function (data) {
            $("#divTimeTable").html(data);
        })
    }

    function DeleteInfo(courseId, batchId, dayId, fromTime, toTime,subjectId) {
        debugger;
        $.get("/TimeTable/DeteTimeTable", { subjectId: subjectId, courseId: courseId, batchId: batchId, dayId: dayId, fromTime: fromTime, toTime: toTime }, function (data) {
            alertify.success("Deleted successfully");
        }).done(function () {
            GetTimeTableDetail();
        });
    }

</script>