

<div class="modal fade" id="divModalPop" role="dialog">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center" id="modalTitle">Header List</h4>
            </div><!--modal-header end-->

            <div class="modal-body">
                <fieldset class="fieldset marB0">
                    <div class="table-outer" style="min-height: 250px;" id="divPartialData">

                  
                    </div>
                </fieldset>
            </div><!--modal-body end-->
        </div>
        <!--modal-content end-->
    </div><!--modal-dialog end-->
</div>