

<div class="modal fade" id="divModalPop" role="dialog" style="overflow:auto">
    <div class="modal-dialog modal-dialog-centered  modal-lg" style="width:90%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center" id="modalTitle">Header List</h4>
            </div><!--modal-header end-->

            <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <fieldset class="fieldset marB0">
                        <div class="table-outer" style="min-height: 250px;overflow:auto;" id="divPartialData">


                        </div>
                    </fieldset>
                </div>
            </div>
                
            </div><!--modal-body end-->
        </div>
        <!--modal-content end-->
    </div><!--modal-dialog end-->
</div>