@model IEnumerable<SERP.UI.Models.ViewComponents.HeaderViewComponent.HeaderComponet>

<ol class="breadcrumb">
    @foreach (var data in Model)
    {
        <li>
            <a asp-action="@data.ActionName" asp-controller="@data.ControllerName">
                <i class="fa fa-dashboard">
                </i> @data.HeaderName
            </a>
        </li>
    }
</ol>



