@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@HttpContextAccessor.HttpContext.Session.GetString("InstituteName") </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">



    <link href="~/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/FontAwesome/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/Iconic/ionicons.min.css" rel="stylesheet" />
    <link rel="icon" href="@HttpContextAccessor.HttpContext.Session.GetString("InstituteLogo")" type="image/gif">
    <!-- Theme style -->

    <link href="~/bootstrap/AdminLTE.min.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link href="~/bootstrap/skin-blue.min.css" rel="stylesheet" />
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"
            integrity="sha256-PAC000yuHt78nszJ2RO0OiDMu/uLzPLRlYTk8J3AO10="
            crossorigin="anonymous"></script>
    <link href="~/AlertifyJs/build/css/themes/bootstrap.css" rel="stylesheet" />
    <link href="~/bootstrap/loader.css" rel="stylesheet" />
    <script src="~/Custom/Custom.js"></script>


    <link href="~/bootstrap/CustomModal.css" rel="stylesheet" />
    <link href="~/AlertifyJs/build/css/alertify.css" rel="stylesheet" />
    <script src="~/AlertifyJs/build/alertify.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Iconic/ionicons.min.css" rel="stylesheet" />

    @*<script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>*@

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @*<script src="~/bootstrap/Select2.js"></script>*@
    <link href="~/select2/dist/css/select2.css" rel="stylesheet" />



    <style>
        .loading {
            position: relative;
        }

            .loading:before {
                content: "";
                display: block;
                position: absolute;
                z-index: 9;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 2555, 255,0.6) url(../images/loading.gif) no-repeat center 35vh;
                background-size: 85px;
            }
    </style>


</head>

<body class="hold-transition skin-blue sidebar-mini sidebar-collapse" id="divSerpBody">
    <div class="wrapper">
        <!-- Main Header -->
        @await Html.PartialAsync("~/Views/Shared/MenuSubMenu/_HeaderMenuPartial.cshtml")
        <!-- Left side column. contains the logo and sidebar -->
        @await Component.InvokeAsync("SideMenu", new { controllerName = string.Empty, actionName = string.Empty })
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <section class="content container-fluid">

                <div id="divSERP">
                    @RenderBody()
                </div>

            </section>
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Let's make Education digitalised.
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2020 <a href="#">VIPRA SERP</a>.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="pull-right-container">
                                        <span class="label label-danger pull-right">70%</span>
                                    </span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form id="form" method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>

                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3 -->

    <script src="~/Jquery/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Jquery/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Jquery/adminlte.min.js"></script>
    <script src="~/Jquery/SearchDropDown.js"></script>
    <script src="~/select2/dist/js/select2.full.js"></script>


</body>
</html>

