@{
    ViewData["Title"] = "Index";
    Layout = null;

}
@model SERP.Core.Entities.Entity.Core.ExamDetail.GradeMaster
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<section class="content-header">
    <h1>
        Grade Master
        <small>Create Grade Master</small>
    </h1>
</section>


<section class="content">
    <div class="row">

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Create Grade Master</h3>
                    <div class="col-md-12">
                        <div class="col-md-10">
                            <a class="btn btn-primary pull-right" onclick="GetNewRecordList()">
                                <i class="fa fa-list-ul"></i>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-primary pull-left" onclick="NewAcademicMaster()">
                                <i class="fa fa-plus-square"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="overlay divHidding" id="divFormData">
                    <i class="fa fa-refresh fa-spin">

                    </i>
                </div>
                <form method="post" data-ajax="true" data-ajax-method="post"
                      asp-action="CreateGrade" asp-controller="GradeMaster" data-ajax-success="Success"
                      data-ajax-begin="CustomFormSubmitBegin" data-ajax-complete="CustomFormSubmitComplete">
                    <div class="box-body">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="CreatedBy" />
                                <input type="hidden" asp-for="CreatedDate" />
                                <label asp-for="GradeName">Grade Name</label>
                                <input asp-for="GradeName" class="form-control">
                                <span asp-validation-for="GradeName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="FromMarks">From Marks</label>
                                <input asp-for="FromMarks" class="form-control">
                                <span asp-validation-for="FromMarks" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="ToMarks">To Marks</label>
                                <input asp-for="ToMarks" class="form-control">
                                <span asp-validation-for="ToMarks" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="ResultType">Result Type</label>
                                <select asp-for="ResultType" class="form-control">
                                    <option value="Pass">Pass</option>
                                    <option value="Fail">Fail</option>
                                </select>
                                <span asp-validation-for="ResultType" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <div class="col-md-8">
                            @Html.SERPButton("btn btn-primary pull-right btnSubmit", Model == null ? 0 : Model.Id)
                            <button class="buttonload" style="display:none">
                                <i class="fa fa-refresh fa-spin"></i>Loading
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button type="reset" class="btn btn-danger pull-left">Cancel</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        @await Html.PartialAsync("~/Views/Shared/_CommanModalPartial.cshtml")

    </div>
</section>

<script>

    function GetNewRecordList() {
        GetCustomRecord("/GradeMaster/GradeList");
        setTimeout(function () {
            $("#modalTitle").text("Grade Details")
        }, 300);
    }
    function NewAcademicMaster() {
        var url = "/GradeMaster/CreateGrade";
        NewCustomRecord(url);
    }
</script>

